.form-label
     @include fontInput(white)
.label-legal,
.label-error
     @include fontFree(white, 12px,12px,12px,12px, $fontDescription)
     font-weight: 300px
     a
          color: $yellow
          text-decoration: none
          &:hover
               text-decoration: underline
.boxSend,
.boxSendProceso
     display: none
     &.active
          display: block
label
     &.error
          color: $red
.label-error
     color: red
     padding-left: 1.75rem
     display: none
     &.active
          display: block
.form-control
     border-radius: 20px
     @include fontInput(black)
     height: 56px
     padding-left: 1.5rem
     &.error
          border: 1px solid red
     &:focus,
     &:hover
          outline: transparent
          box-shadow: none
.boxCheckbox
     input[type="checkbox"]
          padding: 0
          height: initial
          width: initial
          margin-bottom: 0
          display: none
          cursor: pointer
          &:checked + label:after
               content: ''
               display: block
               position: absolute
               top: 5px
               left: 8px
               width: 6px
               height: 14px
               border: solid white
               border-width: 0 2px 2px 0
               transform: rotate(45deg) 
     label
          position: relative
          cursor: pointer
          
          &:before
               content: ''
               -webkit-appearance: none
               border: 1px solid black
               border-radius: 5px
               background-color: black
               box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05)
               padding: 10px
               display: inline-block
               position: relative
               vertical-align: middle
               cursor: pointer
               margin-right: 5px